{% extends 'base.html' %}

{% block title %}Детали заказа | Диагностика{% endblock %}

{% block content %}

<div class="box inner-content login-bg pb-4">
    <div class="container">
        <div class="card-width">
            <div class="card order-form mb-">
                <div class="card-header bg-dark text-center py-">
                    <h2 class="text-white mb-0 text-uppercase">Детали заказа</h2>
                </div>
                <div class="card-bottom-img"></div>

                <div class="card-body">
                    <div class="row">

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Имя</p>
                                <p>
                                    {{ order_details.client_info.profile_name }}
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Email</p>
                                <p>{{ order_details.client_info.user.email }}
                                </p>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Анализ</p>
                                <p>{{ order_details.test_info.test_name }}</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Категория</p>
                                <p>{{ order_details.test_info.category }}</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Мед. центр</p>
                                <p>{{ order_details.test_info.center.name }}</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Временной промежуток: </p>
                                <p>{{ order_details.booked_time_slot }}</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Забронированное время: </p>
                                <p>{{ order_details.booked_date }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Тип оплаты</p>
                                <p>{{ order_details.payment_type }}</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Метод оплаты</p>
                                <p>{{ order_details.payment_method }}</p>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Скидка</p>
                                <p> {{ order_details.test_info.discount }}</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Стоимость анализа</p>
                                <p> {{ order_details.test_info.price }}</p>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Итоговая цена: </p>
                                <p> {{ total_price }} </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Номер телефона: </p>
                                <p>{{ order_details.contact_no }}</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="group">
                                <p>Адрес</p>
                                <p>{{ order_details.client_info.address }}</p>
                            </div>
                        </div>

                        {% if request.user.is_authenticated %}
                        <div class="col-12">
                            <div class="group">
                                <a href="{% url 'medicine_tests:confirm-payment-message' id=order_details.id %}">
                                    <button type="button" class="btn btn-dark custom-bt w-100">Подтвердить</button>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}