{% extends 'base.html' %}

{% block title %}Анализ | Диагностика{% endblock %}

{% block content %}

<div class="container inner-content">
    <div class="row">

        <div class="col-4 offset-4">
            <div class="card test-box mt-4">
                <div class="card-title">
                    <img src="{{ single_test_details.image.url }}" class="card-img-top" alt="..." width="100%">
                </div>

                <div class="card-body" style="min-height: 210px">
                    <p class="card-subtitle mb-2 text-muted">{{ single_test_details.category }}</p>

                    <h6 class="">
                        <a href="{% url 'medicine_tests:test-details' single_test_details.id %}">
                            {{ single_test_details.test_name }}
                        </a>
                    </h6>

                    <p class="card-text">{{ single_test_details.center }}</p>
                    <p class="card-text">Скидка: {{ single_test_details.discount }}</p>
                    <p class="card-text">{{ single_test_details.active_status }}</p>


                    <p class="card-text text-dange price">Цена: <span id="price">{{ single_test_details.price }}</span>
                        </p>
                    <!-- <p class="card-text">{{ single_test_details.active_status }}</p> -->

                    <a class="btn btn-sm order-btn text-center" href="{% url 'medicine_tests:order' single_test_details.id %}"
                        type="submit" style="bottom: -49px">
                        Заказ
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}